html{
    background-image: url("https://file.garden/ZXYYlmMYuz15fq8m/shapes.png");
    background-size: 25%;
    background-repeat: repeat;  
    color:rgb(142, 130, 234);
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 90%;

}

.flex{
    background-color: black;
    width: fit-content;
    margin: auto;
    padding: 25px 50px;
    max-width: 60%;
    display: flex;
    box-shadow: 0px 0px 50px 0px blueviolet;
}

footer {
    height: 40px;
    padding: 10px;
    text-align: center;
}

a{
    color: aliceblue;
    text-decoration: none;
    display: inline;
}

p{
    display: inline;
}

img{
    width: 250px;
    display:inline;
    height: auto;
}

#maintext{
    padding: 0% 10% ;
}

.per{
    margin: auto;
    width: 250px;
    position: absolute;
    top: 20%;
    left: 78%;
    animation: updown 6s infinite ease-in-out alternate;
}

@keyframes updown{
    0% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
    0% { transform: translateY(-5px) rotate(0); }
    100% { transform: translateY(0px) rotate(10deg); }
}