img {
	max-width: 100%;
	height: auto;
}

.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.grid-wrapper {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
	grid-auto-rows: auto;
	grid-auto-flow: dense;
}
.grid-wrapper .weit {
	grid-column: span 2;
}
.grid-wrapper .hoch {
	grid-row: span 2;
}
.grid-wrapper .groß {
	grid-column: span 2;
	grid-row: span 2;
}
