/*
colors:
main text: #f5f1de;
text acsent: #fff3b9;
main: come on you know wich one;
sec
*/

:root{
    --white: #f5f1de;
    --yellow: #e9c71e;
    --orange: #b7771d;
    --blue: #00c3ff;
    --otherblue:#091b50ae;
    --dark: #0f0a32;
}

*{
    scrollbar-width:none;
}

html{
    font-family: Cambria, serif;
    background-color: var(--dark);
    color:var(--white);
    align-items: center;
    background-image: url('../img/spacebg.jpg');
    background-size:cover;
    background-attachment: fixed;
    display: flex;
    quotes: "«" "»" "‹" "›";
    justify-content : center;
}

.bg{
    background-color: #0f0a3281;
    text-align: center;
    padding: 50px 50px;
    width:fit-content;
    margin:auto;
    width: 35vw;
    max-width: 50vw;
    border-radius: 5vw;
}

.pfp{
    border-radius: 50%;
    width: 30%;
    transition-duration: 1s;
}

.pfp:hover{
    box-shadow: 0px 0px 90px var(--yellow);
}

a{
    color:var(--orange);
    text-decoration: underline var(--yellow);
    display: block;
}

a:hover{
    color:var(--blue);
}

footer{
    text-align: center;
    padding: 15px 8px 30px;
    text-transform: uppercase;
}

footer > a{
    display: inline;
}

h1{
    text-transform: uppercase;
    text-align: center;
}

img{
    width: 5vw;
    height: inherit;
}

a > img{
    width: 60%;
    padding: 1%;
}

.button {
    padding: 2% 5%;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 120%;
    margin: 1%;
    transition-duration: 0.5s;
    color: var(--white);
    border-left: 20px solid var(--otherblue);
    text-transform: uppercase;
    width: auto;
    border-radius: 10vw;
    border-right: 20px solid var(--otherblue);
}

.button:hover {
    background-color: var(--otherblue);
    color: var(--yellow);
    border: var(--otherblue);
    box-shadow: 0px 0px 40px var(--yellow);
}

@media all and (max-width: 900px) {
    .bg{
        max-width: 90vw;
        min-width: 70vw;
    }
    .button{
        border-left: 8px solid var(--yellow);
        border-right: 8px solid var(--yellow);
    }
    img{
        width: 10vw;
    }
    .pfp{
        width: 40%;
    }
}
  