html {
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    text-transform: uppercase;
    justify-content: center;
}

body {
    display: block;
    background-attachment: fixed;
    height: 100vh;
    left: 0;
    position: sticky;
    top: 0;
    width: 97vw;
    background-image: url('assets/space.jpg');
    background-position: center;
    background-size: 190%;
    -webkit-text-size-adjust: none;
    word-wrap: break-word;
}

/*standart insides*/

#wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px;
}

#main {
    align-items: center;
    display: flex;
    max-width: 100%;
    background-color: rgba(0,0,0,0.70);
}

.inside {
    max-width: 100%;
    position: relative;
    width: 1000px;
    padding: 25px 50px;
}

/* headers and text */

h1 {
    text-align: left;
    font-family: 'Inria Serif', serif;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-variant: small-caps;
    font-family: 'Fraunces', serif;
    font-weight: 400;
}

p.adbody {
    color: #A85F40;
    padding: 25px;
    text-transform: uppercase;
}

p {
    text-align: left;
    text-transform: lowercase;
    color: #919191;
    letter-spacing: 1px;
    width: 100%;
    font-weight: 400;
    padding: 0px 30px;
}

/*Links*/

a {
    text-transform: lowercase;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-decoration: none; 
    display: inline-block;
    padding-bottom: 20px;
}

a:hover {
    color:#7093c4;
}

/*Images*/

#image1 {
    max-width: 100%;
    width: 250px;
    border-radius: 100%;
    border: #000000 solid 6px;
    box-shadow: 0px 0px 40px 0px #84B3FA;
    display: inline-block;
    overflow: hidden;
    margin: 50px 0px;
}

#image1 img {
    width: 100% !important;
}

/*Buttons*/

.button {
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: solid 3px #A85F40;
    width: 200px;
    height: 40px;
    line-height: 40px;
    padding: 0 7px;
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
    gap: 5px;
    margin: 5px 0px;
}

.button:hover {
    border-color: #FFFFFF !important;
    color: #FFFFFF;
}

/*for id container*/

.container1 {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
}

.container1 > * {
    max-width: 100%;
    text-align: center;
    width: 33.33333%;
}

.container2 {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
}

.container2 > * {
    max-width: 100%;
    text-align: center;
    width: 50%;
}