/*
colors:
main text: #f5f1de;
text acsent: #fff3b9;
main: come on you know wich one;
sec
*/

.bg{
    background-color: #000000cb;
    text-align: center;
    padding: 50px 100px;
    max-width: 35%;
    width:fit-content;
    margin:auto;
}

html{
    font-family: Cambria, serif;
    background-color: #8a9a5b;
    color:#f5f1de;
    align-items: center;
    background-image: url(assets/space.jpg);
    background-size:cover;
}

a{
    color:#e0bf1d;
    text-decoration: none;
}

a:hover{
    color:#8a9a5b
}

.button {
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    color:#8a9a5b;
    border: 2px solid #8a9a5b;
    display: inline-grid;
    text-transform: uppercase;
}
  
.button:hover {
    background-color: #8a9a5b;
    color: #f5f1de;
}
  
footer{
    text-align: center;
    padding: 15px 8px 30px;
}

h1{
    text-transform: uppercase;
}

img:hover{
    transform: scale(1.1) rotate(1deg);
    transition: all .5 ease;
    box-shadow: 0px 0px 100px #407E94;
}

img{
    transform: scale(1) rotate(0deg);
    transition: all .3s ease;
    margin: auto;
}

img, .single{
    margin:10px;
}

h1, .aleaquote{
    font-family: 'Courier New', Courier, monospace;          
    font-weight: 100;
    line-height: 25px;
}

iframe{
    margin: 10px;
}